[submodule "kobuki_ros"]
	path = kobuki_ros
	url = https://github.com/AIResearchLab/kobuki_ros.git
[submodule "kobuki_ros_interfaces"]
	path = kobuki_ros_interfaces
	url = https://github.com/AIResearchLab/kobuki_ros_interfaces.git
[submodule "kobuki_core"]
	path = kobuki_core
	url = https://github.com/AIResearchLab/kobuki_core.git
[submodule "kobuki_velocity_smoother"]
	path = kobuki_velocity_smoother
	url = https://github.com/AIResearchLab/kobuki_velocity_smoother.git
[submodule "cmd_vel_mux"]
	path = cmd_vel_mux
	url = https://github.com/AIResearchLab/cmd_vel_mux.git
[submodule "kufu_kobuki_ros"]
	path = kufu_kobuki_ros
	url = git@github.com:YukaMatsumae/kufu_kobuki_ros.git
